/* Main App */
.layout-background {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../../assets/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.headers {
  padding-top: 12px;
  background: white;
}
.content {
  margin: 24px 16px;
  padding: 20px;
}
.triger-btn{
  font-size: 16px;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  left: 10px;
}

/*Sider*/
.sider{
  height: 100vh;
  position: sticky !important;
  left: 0;
  bottom: 0;
  top: 0;
}

.menu-bar{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 500;
}
.ant-menu-item-selected{
  background-color: #F68C1F !important;
  color: #ffff !important;
}


/* Header */
.header-icon{
  background: #F68C1F;
  padding: 8px;
  border-radius: 4px;
  font-size: 15px;
  color: #ffff;
  cursor: pointer;
}

/* button, and color */
.ant-btn:hover{
  color: #F68C1F !important;
  border-color: #f68b1f !important;
}
.ant-btn-primary{
  background-color: #e8b888;
}
.ant-btn-primary:hover{
  background-color: #F68C1F !important;
  color: #ffff !important;
}
.ant-menu-light .ant-menu-submenu-selected >.ant-menu-submenu-title{
  color: #f68b1f;
}
.primary--color{
  color: #F68C1F !important;
}
.primary--light--color{
  color: #e8b888 !important;
}
.secondary--color{
  color: #e8b888 !important;
}
.light--color{
  color: #e3d8c8 !important;
}
.gray--color {
  color: rgb(182, 181, 181) !important;
}
.ant-card-head {
  background-color: #F68C1F;
}

/* Data List */
.data-card {
  flex: 1;
  height: 250px;
  text-align: center;
}